<!DOCTYPE html>
<html>
<head>
  <title>Home Page Road Sign Object Detection</title>
  <link rel="stylesheet" type="text/css" href="\static\css\style.css">
</head>
<body>
  <header>
    <h2>Road Sign Object Detection</h2>
    <p>Project by Joel Mendez</p>
  </header>
  
  <nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>
  
  <main>
    <h1>Road Sign Object Detection Demo</h1>
    <p style="font-size: 30px; text-align: center;">Welcome to the Road Sign Object Detection project! This initiative is dedicated to enhancing road safety by leveraging cutting-edge technology for the real-time detection and analysis of road signs. Using the YOLOv8 model, a state-of-the-art object detection algorithm, the project identifies and locates various road signs in live video streams or images.</p>
    
    <button onclick="window.location.href = 'FrontPage';">Video</button>
    <button onclick="window.location.href = 'webcam';">Webcam</button>
  </main>
  
  <footer>
    <p>&copy; 2023 UAV.</p>
  </footer>

  <script src="\static\js\script.js"></script>
</body>
</html>

